:root {
  --color--primary: #28293d;
}

body {
  background-color: var(--color--primary);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
}

/* Typography */
h1 {
  color: white;
}

button {
  color: white;
}

.btn {
  font-size: 14px;
}
.iError--lable {
  color: #e4697d;
  margin: 2px 0 0 15px;
}

/* icons */
.icons {
  width: 20px;
  height: 18px;
  padding-top: 2px;
}
/* Buttons*/
.Buttons {
  display: flex;

  flex-direction: column;
}
.btn__blocks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px;
  align-items: center;
}
.btn {
  border-radius: 12px;
  margin: 5px 0;
}

.btn--Wnormal {
  height: 48px;
  width: 100%;
  max-width: 186px;
}

.btn--tall {
  height: 224px;
}

.btn--long {
  min-width: 380px;
}
.btn--slong {
  min-width: 320px;
  padding: 10px 0;
  border-radius: 12px;
}

.btn--primary {
  background: #515cfe;
  border: 0;
}
.btn--primary:hover {
  background: #6d76ff;
  box-shadow: 2px 8px 20px #111;
}

.btn--primary:active {
  background: #515dfe80;
}

.btn--secondary {
  background: #3d3e50;
  border: 0;
}
.btn--secondary:hover {
  box-shadow: 2px 8px 20px #111;
}

.btn--secondary:active {
  box-shadow: 2px 8px 20px rgba(17, 17, 17, 0.541);
}
.btn--backSame {
  background: var(--color--primary);
  border: 2px solid #666990;
}
.btn--backSame:hover {
  border: 2px solid #8e8f92;
}

.btn--noBorder {
  border: 0;
}

.btn--backSame:hover {
  box-shadow: 2px 8px 20px #111;
}

.btn--noBorder:active {
  background: #1718249d;
}

.btn--round {
  width: 40px;
  border-radius: 50%;
  padding: 10px 0;
}

@media screen and (min-width: 1024px) {
  .Buttons {
    flex-direction: row;
  }
}

/* input*/
.inputs {
  display: flex;
  justify-content: space-between;
  color: white;
}

.input__block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.iBlock {
  margin: 5px 15px;
  height: 48px;
  max-width: 350px;
  overflow: hidden;
  outline: 0;
}

.iLable {
  margin-left: 15px;
  margin-top: 20px;
}

.iImg {
  width: 20px;
  margin: 10px 3px 3px 3px;
}
.iBlock--tall {
  height: 392px;
  width: 88%;
}

.Imargin__icon {
  margin: 10px 10px;
  max-width: 350px;
}
.iBlock--icon {
  background: none;
  border: none;
  width: 270px;
  outline: 0;
}
.input__icon {
  margin-bottom: 10px;
}
.iError {
  background: none;
  border: 2px solid #e4697d;
  border-radius: 15px;
}

.input_color {
  background: none;
  border: 2px solid #6d7198;
  border-radius: 15px;
}

.iblock--flex {
  display: flex;
  flex-direction: column;
}
.error__margin {
  margin-top: 46px;
}

.bigboy__margin {
  margin-top: 30px;
}

/* Radios & Checkboxes */
.rc__main {
  display: flex;
  justify-content: space-between;
}
.rc__block {
  display: flex;
  flex-direction: column;
}

.rc__icon {
  display: flex;
  align-items: center;
}

.rc__margin {
  margin-bottom: 30px;
}
.rc__IBmargin {
  margin: 0 6px;
}

.radio__group {
  display: flex;
  flex-direction: column;
}

/* chips */
.chips {
  cursor: pointer;
}
.chips__main {
  display: flex;
  align-items: center;
}
.chips__block {
  display: flex;
  flex-direction: column;
}

.chip2--margin {
  margin-left: 60px;
}
.chips--margin {
  margin-top: 20px;
}
.chips--border {
  border: 2px solid white;
  border-radius: 15px;
  padding: 3px 5px;
}

.chips:hover {
  background: #818188c4;
}
.chips:focus {
  background: rgba(33, 137, 255, 0.801);
}

/* Cards */

.card__main {
  display: flex;
  flex-direction: column;
  margin: 5px 15px;
}
.cards--primary {
  background: #3e405b;
  border-radius: 15px;
}
.cards--secondary {
  background: #353850;
  border-radius: 15px;
}

.card--footer {
  margin-top: 200px;
  padding: 15px 5px;
}

.card2 {
  margin-top: 15px;
  background: url(../image/Image\ Frame.svg);
  background-repeat: no-repeat;
  width: 250px;
}
.card1 {
  max-width: 250px;
}
.card3 {
  margin-bottom: 10px;
  max-width: 250px;
}
.card4 {
  max-width: 250px;
}

.img--card {
  width: 100%;
}

.card--text {
  margin-left: 10px;
}
.text-primary {
  padding: 8px 10px;
}
@media screen and (min-width: 1024px) {
  .cards {
    display: flex;
    justify-content: space-between;
  }
  .card2 {
    width: 289px;
  }
  .card3 {
    max-width: 495px;
  }

  .card4 {
    max-width: 392px;
  }
}

/*disclosures */

.disclosures {
  display: flex;
}

.dCard {
  width: 490px;
  border: 4px solid #3d3e50;
  border-radius: 12px;
  padding: 5px 0 5px 15px;
}

.dCard--margin {
  margin-left: 20px;
}
.collapsible__head {
  display: flex;
  justify-content: space-between;
}

.collapsible__head:hover {
  background: #353850;
  border-radius: 12px;
}

.collapsible__chevron {
  transform: rotate(180deg);
  transition: transform 0.5s;
  padding-right: 5px;
}

.collapsible__content {
  display: none;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  display: block;
}

.bCard1 {
  margin-bottom: 50px;
}

/* Dropdowns*/

.dropCard {
  width: 256px;
  border-radius: 12px;
  padding: 5px 0 5px 15px;
}

.dropdown__main {
  display: flex;
}

/* File Input */

.FileInput {
  display: flex;
}

.file2 {
  margin-left: 20px;
}

.file__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px dotted #353850;
  margin-bottom: 15px;
  border-radius: 20px;
}

.btn--FWnormal {
  height: 48px;
  width: 60px;
}
